In [86]:
import sqlite3

In [87]:
conn = sqlite3.connect(r'raise')
query = '''
CREATE TABLE students(
    id integer PRIMARY KEY,
    name text,
    high_school_id integer,
    hs_grad_year integer,
    state text);
'''
cursor = conn.cursor()
output = cursor.execute(query).fetchall()

In [88]:
conn = sqlite3.connect(r'raise')
query = '''
CREATE TABLE colleges(
    id integer PRIMARY KEY,
    name text,
    state text,
    partner boolean);
'''
cursor = conn.cursor()
output = cursor.execute(query).fetchall()

In [89]:
conn = sqlite3.connect(r'raise')
query = '''
CREATE TABLE followed_colleges(
    students_id integer,
    colleges_id integer,
    foreign key(students_id) references students(id),
    foreign key(colleges_id) references colleges(id));
'''
cursor = conn.cursor()
output = cursor.execute(query).fetchall()

In [90]:
rows = [[1,'name1','high_school1','hs_grad_year1','state1'],
        [2,'name2','high_school2','hs_grad_year2','state2'],
        [3,'name3','high_school3','hs_grad_year3','state3'],
       [4,'name4','high_school4','hs_grad_year4','state4']]
conn.executemany('insert into students values (?,?,?,?,?)', rows)
output = cursor.execute('select * from students;').fetchall()
print(output)

[(1, u'name1', u'high_school1', u'hs_grad_year1', u'state1'), (2, u'name2', u'high_school2', u'hs_grad_year2', u'state2'), (3, u'name3', u'high_school3', u'hs_grad_year3', u'state3'), (4, u'name4', u'high_school4', u'hs_grad_year4', u'state4')]

In [91]:
rows = [[1,'name1','state1',True],
        [2,'name2','state2',False],
        [3,'name3','state3',True],
       [4,'name4','state4',False]]

conn.executemany('insert into colleges values (?,?,?,?)', rows)
output = cursor.execute('select * from colleges;').fetchall()
print(output)

[(1, u'name1', u'state1', 1), (2, u'name2', u'state2', 0), (3, u'name3', u'state3', 1), (4, u'name4', u'state4', 0)]

In [92]:
rows = [[1,1],
        [2,2],
        [3,3],
       [4,4]]

conn.executemany('insert into followed_colleges values (?,?)', rows)
output = cursor.execute('select * from followed_colleges;').fetchall()
print(output)

[(1, 1), (2, 2), (3, 3), (4, 4)]

In [111]:
output = cursor.execute('''
Select count(*) from students
join followed_colleges
	on followed_colleges.students_id = students.id
join colleges
	on followed_colleges.colleges_id = colleges.id
    where colleges.name = 'name1'
    and students.hs_grad_year = 'hs_grad_year1';
''').fetchall()
print output,

[(1,)]

In [147]:
output = cursor.execute('''
select high_school_id from (

    select high_school_id, state,count(*) from (
        Select * from students
        join followed_colleges
        on followed_colleges.students_id = students.id
        join colleges
        on followed_colleges.colleges_id = colleges.id
        Where colleges.name = "name1" ) as A
    group by 1,2
    order by 3 desc limit 5
    )  as B
where B.state = 'state1' ;''').fetchall()
print output,

[(u'high_school1',)]

In [ ]:
# (Select * from students
# join followed_colleges
# on followed_colleges.colleges_id = colleges.id
# Where colleges.name = ‘Tulane University’) as A

# (Select high_school_id, state, count(*) from A group by 1 order by 2 desc) as B

# Select high_school_id from B 
# where state =‘Louisiana’
# Limit 5;


# select high_school_id from (

#     select high_school_id, state,count(*) from (
#         Select * from students
#         join followed_colleges
#         on followed_colleges.students_id = students.id
#         join colleges
#         on followed_colleges.colleges_id = colleges.id
#         Where colleges.name = “Tulane University“ ) as A
#     group by 1,2
#     order by 3 desc limit 5
#     )  as B
# where B.state = ‘Louisiana’ ;